<header class="game-header p-3 border-bottom flex-shrink-0">
    <div class="d-flex justify-content-between align-items-center">
        <div id="current-topic">
            <h3>💡 現在の議題: <span id="topic-text">議論開始</span></h3>
        </div>
        <div id="my-word" class="mx-4">
            自分のお題: 
            <span id="word-display" class="fw-bold me-2">りんご</span>
        </div>
        <div id="time-limit">
            <h4 class="text-danger">残り時間: <span id="time-display">00:00</span></h4>
        </div>
    </div>
</header>